.slick-track {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.slider {
	position: relative;
	padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
	overflow: hidden;
}

.slick-list {
	overflow: hidden;
}

.slider__item {
	max-width: 100%;
	width: 230px;
	background-color: rgba(255, 255, 255, 0.356);
  padding: 0px 20px;
	position: relative;
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 30px;
	border: none;
	outline: none;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background-image: url('../img/left-arrow.svg');
	background-size: 100%;
	background-color: transparent;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background-image: url('../img/right-arrow.svg');
	background-size: 100%;
	background-color: transparent;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 35px;
}

.slider .slick-dots li{
	margin-right: 10px;
}

.slider .slick-dots li:last-child {
	margin-right: 0;
}

.slider .slick-dots button{
	font-size: 0;
	background-color: #ffffff;
	border-radius: 50%;
	position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c49b84;
  cursor: pointer;
}

.slider .slick-dots button::before {
	content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 19.5px;
  height: 19.5px;
	background-color: #c49b84;
  border-radius: 50%;
  transition: 0.3s;
  transform: translate(-50%, -50%) scale(0);
}

.slider .slick-dots li.slick-active button::before, .slider .slick-dots button:hover:before{
	transform: translate(-50%, -50%) scale(1);
}


@media screen and (min-width:320px) {
	.slider {
		width: 270px;
		margin: 0 auto;
	}
}
@media screen and (min-width:551px) {
	.slider {
		width: auto;
	}
	.slider__item {
    border: 1px solid #00000065;
    border-radius: 10px;
		padding-top: 20px;
	  padding-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
		background-color: #e2b2983d;
	}
}

@media screen and (min-width: 1300px) {
	.slider {
		padding: 30px; 
	}
}
