$color_main: #c49b84a8;
$color_text: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  color: $color_text;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color_main;
}
header, main, footer{
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}
// h1 {
//   font-size: 30px;
//   font-weight: bold;
//   line-height: 1;
//   text-align: left;
// }
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  width: 175px;
  height: 50px;
  display: block;
  background: $color_main;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25); //? нужно ли
  border: none;
  border-radius: 30px;
}
.btn--request {
}
.main-text {
  font-weight: 400px;
  font-size: 26px;
  color: #000000;
}
.description {

}
.header { 
  width: 100%;
  position: fixed; 
  top: 0;
  padding: 20px;
  //!добавь в выпадающее меню background-color: $color_main;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  z-index: 30;
}

.logo {
  display: flex;
  align-items: center;  
  position: relative;
  z-index: 1;

  &__icon {
    display: block;
    width: 40px;
    border-right: 1px solid $color_text;
    padding-right: 5px;
    margin-right: 6px;
  }
  &__text {
    font-size: 28px;
    font-weight: 600;
  }
}
.icon__wrapper::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 31px;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.25);
  top: -3px;
  left: 13px;
  z-index: -1;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
  }
  &__item {
    display: none;
  }
  &__link {
  }
  /*::after {
    content: "+375(29)1234567 Ежедневно с 9:00 до 21:00";
    font-size: 28px;
    color: $color_text;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    //display: none;
  }*/
}
.burger-box--closed {
  width: 30px;
  margin-right: 8px;
}
.menu--open {
}

.section {
  padding: 74px 20px 0; //! мб добавить что-то еще?
  
}

.first-screen {
  height: 100vh;
  background: url('../img/opacity.jpeg') no-repeat;
  //background-position: center; //!не нужно, можно удалить
  background-size: cover;
  background-position: 72.5%;



		&__wrapper {
      margin-top: 80px;
      margin-bottom: 80px;
		}

		&__title {
      font-size: 46px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 30px;
    }
    &__description {
      font-size: 17x;
      font-weight: 400;
      line-height: 1.3;
      text-align: center;
      opacity: 0.8;
    }
}
.brends {
  background-color: #ffffff;
  padding-top: 50px;

  &__container {
    //max-width: 280px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;

    

  }

  &__item {
    display: flex;
    flex-grow: 1;
    min-width: 140px;
    position: relative;

    ::before{
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: -1px;
      bottom: -1px;
      border: 1px #d4d4d4 solid;
    }
  }

  &__wrapper {
    height: 170px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    // margin: -1px -1px 0 0;
    flex-grow: 1;

  }

  &__icon {
    width: 85px;
  }

  &__name {
    font-size: 18px;
  }
}
.img__wrapper {
  height: 85px;
  display: flex;
}
.a {
}



// .lg {
//   display: block;
//   margin: 0 auto;
// }






.request {
  background-color: $color_main;


		&__wrapper {
      
		}

		&__title {
      
		}
}

.footer {
}
