@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #c49b8467;
}

header, main, footer {
  min-width: 320px;
}

h2 {
  margin-bottom: 35px;
}

select {
  font-family: 'Montserrat', sans-serif;
}

a:focus {
  outline: none;
}

.container {
  max-width: 1600px; /*!почему именно эта*/
  margin: 0 auto;
}

.section:not(.first-screen, .footer, .reviews) {
  padding: 45px 25px;
}

.section:nth-child(2n+1) {
  background-color: #ffffff;
}

.wrapper:not(.header__wrapper .wrapper ) {
  max-width: 1080px;
  margin: 0 auto;
}




.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 200px;
  height: 50px;
  display: block;
  background: #c49b8467;
  border: none;
  border-radius: 30px;
  padding: 0;
  margin: 0 auto;
  margin-top: 35px;
}

.btn--dark:hover {
  background-color: #c49b84d7;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}

.btn--light {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn--light:hover {
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.8);
}

.main-text {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.main-text--big {
  font-size: 27px;
}

.main-text--small {
  font-size: 16px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.preloader-area {
  background-color: #c49b84;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 999;
}

.preloader {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: calc(50vh - 50px);
  position: relative;
  animation: dot 4s infinite linear;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.dot--1 {
  position: absolute;
  top: -7.5px;
  left: 42.5px;
  animation: dot--1 0.8s infinite;
}

.dot--2 {
  position: absolute;
  top: 7px;
  right: 6px;
  animation: dot--2 0.8s infinite 0.1s;
}

.dot--3 {
  position: absolute;
  top: 42.5px;
  right: -7.5px;
  animation: dot--3 0.8s infinite 0.2s;
}

.dot--4 {
  position: absolute;
  bottom: 7px;
  right: 6px;
  animation: dot--4 0.8s infinite 0.3s;
}

.dot--5 {
  position: absolute;
  bottom: -7.5px;
  left: 42.5px;
  animation: dot--5 0.8s infinite 0.4s;
}

.dot--6 {
  position: absolute;
  bottom: 7px;
  left: 6px;
  animation: dot--6 0.8s infinite 0.5s;
}

.dot--7 {
  position: absolute;
  top: 42.5px;
  left: -7.5px;
  animation: dot--7 0.8s infinite 0.6s;
}

.dot--8 {
  position: absolute;
  top: 7px;
  left: 6px;
  animation: dot--8 0.8s infinite 0.7s;
}

.loaded_hiding .preloader-area {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader-area {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000003a;
  z-index: 900;
}
.header__wrapper .wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -3px;
  z-index: 30;
}

.logo {
  display: flex;
  align-items: center;
  /* z-index: 1; */
}
.logo__icon {
  display: block;
  width: 40px;
  border-right: 1px solid #ffffff;
  padding-right: 5px;
  margin-right: 6px;
}

.icon__wrapper {
  position: relative;
}

.icon__wrapper::after {
  content: "";
  width: 17px;
  height: 31px;
  position: absolute;
  top: -3px;
  left: 13px;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -1;
}

.logo__text {
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
}

.menu {
  /*::after {
    content: "+375(29)1234567 Ежедневно с 9:00 до 21:00";
    font-size: 28px;
    color: $color_text;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    //display: none;
  }*/
}

.menu--open {
}

.header__menu {
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.header__menu .menu__item {
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  margin-right: 30px;
  display: none;
}

.header__menu .menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #ffffff;
}

.burger-box {
  width: 30px;
  margin-right: 6px;
}

.first-screen {
  height: 100vh;
  background: url("../img/bc-first-screen.jpeg") no-repeat;
  background-size: cover;
  background-position: 72.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(50vh - 185px) 25px calc(50vh - 259px);
}

.title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.first-screen__description {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.buttons {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65px;
}

.buttons button {
  margin-top: 0;
}




.services__list {
  height: 430px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services__item {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services__name {
  font-size: 18px;
}

.flip {
  position: relative;
  perspective: 500px;
}

.front {
  position: relative;
}

.front::after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: -1;
}

.services__icon {
  height: 85px;
}

.prices {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  position: absolute;
  top: -8px;
  right: -8px;
  transform: rotateY(180deg);
  border-radius: 50%;
}

.front, .prices {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  backface-visibility: hidden;
}

.flip:hover .front {
  transform: rotateY(180deg);
}

.flip:hover .prices {
  transform: rotateY(360deg);
}
.services__item button {
  display: none;
}




.brends__item {
  height: 155px;
  display: flex;
  flex-grow: 1;
  border: transparent;
  border-radius: 10px;
}

.brends__item:nth-child(2n) {
  margin-left: 10px;
  margin-bottom: 10px;
}

.brends__item:hover {
  background-color: #c49b8467;
}

.item__wrapper {
  padding: 21px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 10px;
}

.item__wrapper:hover {
  background-color: transparent;
}

.img__wrapper {
  height: 85px;
  display: flex;
}

.brends__icon {
  width: 85px;
}

.request__form {
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repair-request {
  /* width: 280px; */
  width: 50%;
  height: 465px;
  background: url(../img/repair-request.jpg) no-repeat;
  background-size: cover;
  background-position: 60%;
  border-radius: 10px;
  display: none;
}

select, .label__request input {
  width: 100%;
  height: 40px;
}

textarea {
  resize: none;
  width: 100%;
  height: 70px;
}

.form__container label, .label__request label {
  display: block;
  margin-bottom: 6px;
}

.form, .label__request input, textarea {
  border: 1px solid #00000065;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.required:focus {
  box-shadow: 0 0 9px 5px #af4c4c7a;
}

.conditions__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.conditions__container input {
  display: none;
}

.toggle-item {
  display: inline-block;
  min-width: 68px;
  height: 35px;
  background: #af4c4c;
  border: 0.5px solid rgba(94, 91, 91, 0.2);
  border-radius: 50px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.toggle-item:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 4.5px;
  left: 4.5px;
  transition: 0.4s ease;
}

#color-check:checked ~ .toggle-item {
  background: #4caf50;
}

#color-check:checked ~ .toggle-item:before {
  left: 36.5px;
}

.conditions {
  line-height: 1.1;
  text-align: left;
  padding-left: 20px;
}

.conditions__doc {
  text-decoration: underline;
  cursor: pointer;
}
.leave-request form {
  position: relative;
  display: flex;
  justify-content: center;
}

.leave-request input{
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  padding-left: 32px;
  margin: 0 auto;
  margin-top: 35px;
  display: none;
}

.leave-request .btn--dark {
  display: none;
}


.contacts__info * {
  font-size: 19px;
  font-weight: 300;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  line-height: 1.2;
}

.contacts__info p:last-child {
  margin-bottom: 0;
}

.tel:hover, .mail:hover {
  font-weight: 500;
}

.map {
  width: 100%;
  height: 270px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  margin-top: 25px;
}

.footer {
  background-color: rgba(34, 33, 33, 0.315);
  padding: 35px 25px 15px;
}

.footer__menu {
  height: 160px;
  flex-direction: column;
}

.footer__menu li {
  position: relative;
}

.footer__contacts:hover {
  font-weight: 500;
}

.footer__menu li::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
  background-image: url(../img/expand-button.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(270deg);
  opacity: 0.7;
}

.footer__contacts {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.menu-expanded {
  display: none;
}

.copyright {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  opacity: 0.8;
  margin-top: 30px;
}









.reviews {
  padding: 122px 25px 45px;
  background: none !important;
}

.leave-review {
  background-color: #ffffff;
}

.contacts {
  background: none !important;
}













.rating {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.rating input {
  display: none;
}

.rating label:before {
  content: "★";
} 

.rating label {
  width: 33px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: gold;
  text-shadow: 1px 1px #c60;
}

.rating--4 label:last-child {
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating--3 label:nth-child(8n) {
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

/* .rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  width: 33px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: gold;
  text-shadow: 1px 1px #bbb;
}

.rating:not(:checked) > label:before {
  content: "★";
} */

/* .rating > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
} */

/* .rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
} */

/* .rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
} */

/* .rate-area > label:active {
  position: relative;
} */

.customer__img {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.img-1 {
  background: url("../img/customers/woman-1.jpg") no-repeat;
  background-position: 50% 10%;
  background-size: 270px auto;
}

.img-2 {  
  background: url("../img/customers/man-1.jpg") no-repeat;
  background-size: 200px auto;
}

.img-3 {  
  background: url("../img/customers/woman-2.jpg") no-repeat;
  background-position: -10px 0%;
  background-size: 210px auto;
}

.img-4 {  
  background: url("../img/customers/man-2.jpg") no-repeat;
  background-position: 0 37%;
  background-size: 210px auto;
}

.img-5 { 
  background: url("../img/customers/woman-3.jpg") no-repeat;
  background-position: 67% 0%;
  background-size: 240px auto;
}

.img-6 {  
  background: url("../img/customers/man-3.jpg") no-repeat;
  background-position: 0px 15%;
  background-size: 220px auto;
}

.customer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.customer__name {
  font-size: 20px;
  font-weight: 500;
  flex-grow: 1;
}

.net-icon {
  position: absolute;
  top: 144px;
  left: 144px;
}

.net-icon img {
  width: 50px;
  border-radius: 50%;
}

.review-date {
  font-size: 14px;
  text-align: left;
  position: relative;
  line-height: 1.1;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.review-date::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  background-image: url(../img/calendar.svg);
  width: 15px;
  height: 15px;
  background-size: 100%;
}

.customer__review {
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
}

.contacts--comments {
  background-color: #ffffff;
}








@media screen and (min-width: 339px) {
  .brends__title {
    font-size: 27px;
  }
}
@media screen and (min-width: 447px) {
  .brends__item {
    margin-left: 0px;
    margin-right: 10px;
  }
  .brends__item:nth-child(5n) {
    margin-top: 10px;
  }
  .brends__list {
    padding-left: 10px;
  }
}

@media screen and (min-width: 477px) {
  .brends__item:nth-child(5n) {
    margin-top: 0;
  }
  .brends__item:nth-child(2n), .brends__item:nth-child(4n) {
    margin-left: 0px;
  }
  .brends__item:nth-child(4n), .brends__item:nth-child(5n) {
    margin-bottom: 0 !important;
  }
} 

@media screen and (min-width: 530px) {
  .title {
    font-size: 41px;
    text-align: left;
    line-height: 1.1;
  }
  .first-screen__description {
    font-size: 16x;
    text-align: left;
  }
  .buttons {
    flex-direction: column;
    justify-content: space-between;
  }
  .buttons button {
    margin: 0;
  }

  .services__list {
    height: 270px;
  }
  .services__name {
    order: 1;
    position: absolute;
    left: 70px;
    font-size: 16px;
  }
  .services__item button {
    width: 47%;
    height: 100%;
    display: block;
    margin-top: 0;
    margin-right: 0; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
  }
  .services__item {
    width: 100%;
    height: 25%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.356);
    flex-direction: row;
    position: relative;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .front::after {
    display: none;
  }
  .prices {
    width: min-content;
    height: auto;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 13.5px;
    /* left: 997px; */
    /* left: 390px; */
    display: block;
    border-radius: 0%;
    /* transform: rotateY(0deg); */
    /* transition: none; */
    background: none;
    font-size: 14px;
    
    /* display: none;  */
  }
  .flip {
    /* pointer-events: none; */
    display: flex;
    flex-direction: row;
    backface-visibility: hidden;
  }
  .services__icon {
    height: 50px;
  }
  .dynamic {
    margin-left: 7px;
  }
  .display {
    margin-left: 3px;
  }
}

@media screen and (min-width: 600px) {
  .section {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .header__wrapper .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -8px;
  }
  .title {
    font-size: 7.5vw;
  }
  .burger-box {
    margin-right: 0;
  }
  .request__container {
    border: 1px solid #00000065;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.356);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 0;
  }
  .repair-request {
    display: block;
  }
  .form__container label, .label__request label {
    font-weight: 400;
    font-size: 15px; /*!одинаковым сделай*/
  }
  .form, .label__request input, textarea {
    font-size: 14px;
  }
  .request__form {
    height: 455px;
    width: 41%;
  }
  .phone-number {
    display: none;
  }
  .leave-request input{
    display: block;
    position: relative;
  }
  .leave-request .btn--light {
    display: none;
  }
  .leave-request .btn--dark {
    display: block;
    position: absolute;
    top: 35px;
    right: 10%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
  }
  .conditions {
    padding-left: 15px;
  }
  .main-text--small {
    font-size: 13px;
  }




  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts__info {
    margin-left: 30px;
    order: 1;
  }
  .contacts__info * {
    font-size: 17px;
  }
  .map {
    height: 250px;
    margin-top: 0;
    order: 0;
  }


  
  .customer__name {
    font-size: 20px;
  }
  .review-date {
    font-size: 14px;
  }
  .customer__review {
    font-size: 15px;
  }



  .footer__menu {
    height: auto;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
  }
  .footer__contacts {
    font-weight: 400;
    font-size: 18px;
  }
  .footer__menu li {
    margin-right: 6%;
  }
  .footer__menu li:last-child {
    margin-right: 0;
  } 
  .footer__menu li::before {
    display: none;
  }
  .menu-expanded {
    max-width: 246px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .menu-expanded a {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.1;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
  }
  .menu-expanded a::before{
    content: "";
    display: inline-block;
    width: 15.2px;
    height: 15.2px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    opacity: 0.7;
  }
  .copyright {
    text-align: center;
  }
}

@media screen and (min-width: 765px) {
  .brends__item {
    margin-bottom: 0 !important;
  }
  .brends__item:last-child {
    margin-right: 0;
  }
  .brends__list {
    padding-left: 0;
  }
} 

@media screen and (min-width: 900px) {
  .main-text--big {
    font-size: 40px;
  }
  .section {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .header__wrapper .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header__menu {
    margin-right: -11px;
  }
  .header__menu .menu__item {
    display: block;
  }
  .burger-box {
    display: none;
  }
  .title {
    font-size: 6.8vw;
  }
  .first-screen__description {
    font-size: 19px;
    text-align: left;
  }
  .buttons {
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
  .buttons button {
    margin: 0;
    margin-right: 70px;
  }
  .services__item button {
    width: 65%;
  }
  .services__list {
    height: 300px;
  }
  .brends__title {
    font-size: 40px;
  }
  .leave-request input{
    width: 65%;
  }
  .leave-request .btn--dark {
    right: 17.5%;
  }
  .customer__review {
    font-size: 17px;
  }
}

@media screen and (min-width: 1000px) {
  .customer__review {
    font-size: 16px;
  }
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: 75px;
  }  
  .customer__name {
    font-size: 22px;
  }
  .review-date {
    font-size: 15px;
  }
}

@media screen and (min-width: 1160px) {
  .header__menu .menu__item {
    font-size: 20px;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1300px) {
  h2 {
    margin-bottom: 50px;
  }
  .main-text--big {
    font-size: 40px;
  }
  .main-text--small {
    font-size: 18px;
  }
  .header__wrapper .wrapper {
    padding: 20px 60px;
  }
  .logo {
    margin-left: -10px;
  }
  .logo__icon {
    width: 50px;
  }
  .icon__wrapper::after {
    width: 22px;
    height: 39px;
    top: -3px;
    left: 17px;
  }
  .header__menu .menu__item {
    font-size: 20px;
  }
  .services__list {
    height: 320px;
  }
  .services__name {
    left: 100px;
    font-size: 24px;
  }
  .services__item button {
    font-size: 16px;
  }
  .brends__title {
    font-size: 40px;
  }
  .brends__item:not(:first-child) {
    margin-left: 10px;
    margin-bottom: 0;
  }
  .repair-request {
    background-position: 100%;
  }
  .form__container label, .label__request label {
    font-size: 20px;
  }
  .form, .label__request input, textarea {
    font-size: 18px;
  }
  .conditions {
    padding-left: 20px;
  }
  .contacts__info {
    margin-left: 60px;
  }
  .contacts__info * {
    font-size: 24px;
  }
  .map {
    height: 300px;
  }
  
  .customer__name {
    font-size: 24px;
  }
  .customer__review {
    font-size: 18px;
  }
  .review-date {
    padding-left: 25px;
  }
  .review-date::before {
    width: 18px;
    height: 18px;
    
  }
  .footer__contacts {
    font-size: 20px;
  }
  .menu-expanded a {
    font-size: 17px;
    /* padding-left: 25px; */
  }
  .menu-expanded a::before {
    width: 18.4px;
    height: 18.4px;
  }
}
@media (min-height: 900px) and (max-width: 530px) {
  .first-screen {
    height: 100px;
  }
}

@keyframes dot {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dot--1 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--2 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--3 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--4 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--5 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--6 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--7 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--8 {
  50% {
    transform: scale(1.7);
  }
}



.rating__container .rating {
  display: block;
  margin: 0;
}

.add-text{
  text-align: left;
  margin-bottom: 6px;
}

#check-review {
  display: none;
}

.add-btn {
  width: 60px;
  height: 60px;
  background-image: url('../img/add-btn.svg');
  background-size: cover;
  background-position: 50% 50%;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  display: block;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.review__container {
  border: 1px solid #00000065;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  background-color: #c49b8467;
  padding: 20px;
  margin-top: 35px;
  display: none;
}

#check-review:checked ~ .review__container {
  display: block;
}

.review__form {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}