@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #c49b8467;
}

header, main, footer {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 35px;
}

a {
  color: #000000;
}

a:focus {
  outline: none;
}

.preloader-area {
  background-color: #c49b84;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.preloader {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: calc(50vh - 50px);
  position: relative;
  animation: dot 4s infinite linear;
}

.preloader:hover {
  animation: paused;
}

.preloader div:hover {
  animation: paused;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.dot--1 {
  position: absolute;
  top: -7.5px;
  left: 42.5px;
  animation: dot--1 0.8s infinite;
}

.dot--2 {
  position: absolute;
  top: 7px;
  right: 6px;
  animation: dot--2 0.8s infinite 0.1s;
}

.dot--3 {
  position: absolute;
  top: 42.5px;
  right: -7.5px;
  animation: dot--3 0.8s infinite 0.2s;
}

.dot--4 {
  position: absolute;
  bottom: 7px;
  right: 6px;
  animation: dot--4 0.8s infinite 0.3s;
}

.dot--5 {
  position: absolute;
  bottom: -7.5px;
  left: 42.5px;
  animation: dot--5 0.8s infinite 0.4s;
}

.dot--6 {
  position: absolute;
  bottom: 7px;
  left: 6px;
  animation: dot--6 0.8s infinite 0.5s;
}

.dot--7 {
  position: absolute;
  top: 42.5px;
  left: -7.5px;
  animation: dot--7 0.8s infinite 0.6s;
}

.dot--8 {
  position: absolute;
  top: 7px;
  left: 6px;
  animation: dot--8 0.8s infinite 0.7s;
}

@keyframes dot {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dot--1 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--2 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--3 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--4 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--5 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--6 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--7 {
  50% {
    transform: scale(1.7);
  }
}
@keyframes dot--8 {
  50% {
    transform: scale(1.7);
  }
}
.loaded_hiding .preloader-area {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader-area {
  display: none;
}

.section {
  padding: 0 25px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  width: 205px;
  height: 50px;
  display: block;
  background: #c49b8467;
  border: none;
  border-radius: 30px;
  margin-top: 35px;
}

.btn:hover {
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.8);
}

.btn--comments:hover {
  background-color: #c49b84d7;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}

.btn--request {
  background-color: rgba(255, 255, 255, 0.4);
}

.main-text {
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  text-align: center;
}

.main-text--big {
  font-size: 27px;
}

.main-text--small {
  font-size: 16px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.header__wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
  background-color: #0000003a;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.logo__icon {
  display: block;
  width: 40px;
  border-right: 1px solid #ffffff;
  padding-right: 5px;
  margin-right: 6px;
}
.logo__text {
  font-size: 35px;
  font-weight: 600;
}

.icon__wrapper::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 31px;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.25);
  top: -3px;
  left: 13px;
  z-index: -1;
}

.menu {
  /*::after {
    content: "+375(29)1234567 Ежедневно с 9:00 до 21:00";
    font-size: 28px;
    color: $color_text;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    //display: none;
  }*/
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  color: #ffffff;
}

.header__menu {
  align-items: center;
}

.header__menu li {
  font-weight: 400;
  font-size: 22px;
  padding: 10px;
  margin-right: 5px;
  display: none;
}

.burger-box--closed {
  width: 30px;
}

.first-screen {
  height: 100vh;
  background: url("../img/opacity.jpeg") no-repeat;
  background-size: cover;
  background-position: 72.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__wrapper {
  padding: calc(50vh - 240px) 0;
}
.first-screen__title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.first-screen__description {
  font-size: 17x;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  line-height: 1.1;
  opacity: 0.8;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 55px;
}

.services {
  padding-top: 45px;
  padding-bottom: 45px;
}
.services__list {
  height: 530px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.services__item {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.services__icon {
  height: 85px;
}
.services__name {
  font-size: 18px;
}

.tel:hover, .mail:hover {
  font-weight: 500;
}

.flip {
  position: relative;
  perspective: 500px;
}

.front {
  position: relative;
}

.front, .prices {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  backface-visibility: hidden;
}

.prices {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  position: absolute;
  top: -8px;
  right: -8px;
  transform: rotateY(180deg);
  border-radius: 50%;
}

.prices span {
  color: #000000;
}

.flip:hover .front {
  transform: rotateY(180deg);
}

.flip:hover .prices {
  transform: rotateY(360deg);
}

.front::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 50%;
  z-index: -1;
}

.all-prices {
  text-align: center;
  padding: 17px;
}
.brends {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.brends__item {
  height: 155px;
  display: flex;
  flex-grow: 1;
}
.brends__item :hover {
  background-color: #c49b8467;
}
.brends__icon {
  width: 85px;
}

.item__wrapper {
  padding: 24px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  border: 1px solid black;
  margin: -1px -1px 0 0;
}
.item__wrapper :hover {
  background-color: transparent;
}

.img__wrapper {
  height: 85px;
  display: flex;
}

.request {
  padding-top: 45px;
  padding-bottom: 45px;
}
.request__form {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select, .label__request input, textarea {
  width: 100%;
  height: 50px;
}

.form__box label, .label__request label {
  display: block;
  margin-bottom: 6px;
  color: #000000;
}

.form, .label__request input, textarea {
  border: 1px solid #00000065;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.356);
}

option, textarea {
  color: #000000;
}

.label__request input:focus {
  box-shadow: 0 0 9px 5px #af4c4c7a;
}

#name {
  color: #000000;
}

#problem-description {
  height: 80px;
}

.ggg {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ggg input {
  display: none;
}

.toggle-item {
  display: inline-block;
  min-width: 68px;
  height: 35px;
  background: #af4c4c;
  border: 0.5px solid rgba(94, 91, 91, 0.2);
  border-radius: 50px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.toggle-item:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 4.5px;
  left: 4.5px;
  transition: 0.4s ease;
}

#color-check:checked ~ .toggle-item {
  background: #4caf50;
}

#color-check:checked ~ .toggle-item:before {
  left: 36.5px;
}

.conditions {
  text-align: left;
  padding-left: 20px;
}

.conditions__doc {
  cursor: pointer;
  text-decoration: underline;
}

.comments {
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}
.contacts {
  padding-top: 45px;
  padding-bottom: 45px;
}
.contacts__info * {
  font-size: 19px;
  font-weight: 300;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  line-height: 120%;
}

.map {
  width: 100%;
  height: 270px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}

.footer {
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: rgba(34, 33, 33, 0.315);
}
.footer__wrapper .menu {
  display: block;
}

.footer__menu {
  height: 160px;
  flex-direction: column;
}

.footer__menu li {
  position: relative;
}
.footer__menu li :hover {
  font-weight: 500;
}
.footer__menu li ::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
  background-image: url(../img/expand-button.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(270deg);
  opacity: 0.7;
}

.footer__contacts {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.copyright {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  opacity: 0.8;
  margin-top: 30px;
}

.reviews {
  padding-top: 123px;
  padding-bottom: 45px;
}
.previous {
  left: 0;
}
.previous ::before {
  background-image: url("expand-button.svg");
  background-image: url("../img/expand-button.svg");
}

.next {
  right: 0;
}
.next ::before {
  background-image: url("1.svg");
}

.slider__list {
  display: flex;
}
.slider__item {
  max-width: 100%;
  width: 100%;
  height: 345px;
  padding: 20px;
  background-color: #ffffff;
  transition: transform 0.5s ease;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  background-color: unset;
}
.slider__control ::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__indicators {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 15px;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.slider__indicators li :hover {
  background-color: #757575;
}

.rating {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  width: 33px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

.customer__img {
  position: relative;
  background: url("../img/customers/woman-1.jpg") no-repeat;
  background-size: 200px auto;
  background-position: 50% 14%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.customer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.customer__name {
  font-size: 20px;
  font-weight: 500;
}

.net-icon {
  position: absolute;
  top: 60px;
  left: 60px;
}

.net-icon img {
  width: 24px;
  border-radius: 50%;
}

.review-date {
  font-size: 14px;
  text-align: left;
  position: relative;
  line-height: 1.1;
  padding-left: 20px;
  margin-bottom: 16px;
}

.review-date::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  background-image: url(../img/calendar.svg);
  width: 15px;
  height: 15px;
  background-size: 100%;
}

.customer__review {
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
}

.spoiler {
  height: 50px;
  width: 97%;
  box-shadow: 4px -5px 10px #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--spoiler {
  position: relative;
  width: 23px;
  height: 15px;
  margin-left: 3%;
  cursor: pointer;
}

.btn--spoiler::before {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.4s ease;
  background-image: url(../img/expand-button.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(270deg);
  opacity: 0.7;
  width: 23px;
  height: 15px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

/*# sourceMappingURL=style.css.map */
